


<div id="hamburger-menu" [@buttonAnimation]="position" (click)="showSidebar()">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    </div>

<div id="nav-container" *ngIf="!showMenu" [@enterAnimation] >
  <ng-container>
  <h1>Mario Aviles</h1>
    <a routerLink="/home"  routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active"> About</a>
    <a routerLink="/portfolio" routerLinkActive="active"> Portfolio</a>
    <a routerLink="/resume" routerLinkActive="active"> Resume</a>
   <!-- <a routerLink="/technologies"> Technologies </a> -->
    <a routerLink="/contact" routerLinkActive="active"> Contact</a>

<div class="copyright-container">
   <i class="fa fa-copyright"></i> All rights Reserved 2018
 </div>
</ng-container>
</div>
