<button class="hamb" [@buttonAnimation]="position"  (click)="showSidebar()">{{message}}</button>

<div id="nav-container" *ngIf="!showMenu" [@enterAnimation] >
  <ng-container>
  <h1>Mario Aviles</h1>
  <hr>
    <a routerLink="/home">Home</a>
    <hr>
    <a routerLink="/about"> About</a>
    <hr>
    <a routerLink="/portfolio"> Portfolio</a>
    <hr>
    <a routerLink="/resume"> Resume</a>
    <hr>
   <!-- <a routerLink="/technologies"> Technologies </a> -->
    <a routerLink="/contact"> Contact</a>

<div class="copyright-container">
   <i class="fa fa-copyright"></i> All rights Reserved 2018
 </div>
</ng-container>
</div>
