@import "../../assets/styles/shared-styles.scss";

#nav-container{
    background-color:$primaryColor;
    color:white;
    padding:15px;
    position:fixed;
    width:300px;
    height: 105vh;
    z-index:2;

    a{
    font-family: $secondaryFont;
    font-weight: 200;
    }
}
.hamb{
    position: fixed;
    left: 377px;
    top:70px;

    font-size:25px;
    color:black;
    font-weight:bold;
}
hr{
    background-color:white;
    height:2px;
}

#hamburger-menu{
    position:absolute;
    top:30px;
    background-color:$primaryColor;
    padding:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:.3s;

     input{
        display: block;
        width: 41px;
        height: 35px;
        position: absolute;
        top: 3px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
      }

      span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background:$terciaryColor;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }

      span:nth-last-child(2){
        transform-origin: 0% 100%;
      }

      input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -20px);
        background: $terciaryColor;
      }

      input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, 18px);
      }

      input:checked ~ ul{
        transform: none;
      }
}



#nav-container h1{
    margin-top:15%;
    text-align: center;
    font-family: $primaryFont;
    font-size:25px;
}

#nav-container a{
    display:block;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    color:white;
}

//LINK ANIMATIONS
#nav-container a:after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: $secondaryColor;
    transition: width .3s;
}
#nav-container a:hover::after {
    width: 100%;
    transition: width .3s;
}


#nav-container a.active{
        border-bottom:3px solid $secondaryColor;
        margin:0px 30px;
}

.copyright-container{
    background-color:#0F0F0F;
    padding:20px;
    color:#D7D7D7;
    text-align: center;
    height:10%;
    margin-top:5%;
}