@import "../../assets/styles/shared-styles.scss";

#nav-container{ 
    height:150vh;
    
    img{
        display: block;
        width: 200px;
        margin:40px auto;
    }
  
    a{
    font-family: $secondaryFont;
    font-weight: 200;
    }
    h1{
        margin-top:15%;
        text-align: center;
        font-family: $primaryFont;
        font-size:25px;
    }
    a{
        display:block;
        font-size:30px;
        text-decoration:none;
        text-align:center;
        color:white;
        margin:0px 50px;
    }
  }


//LINK ANIMATIONS
#nav-container a:after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: $secondaryColor;
    transition: width .3s ;
}
#nav-container a:hover::after {
    width: 100%;
    transition: width .3s;
}

#nav-container a.active{
        border-bottom:3px solid $secondaryColor;
}

.copyright-container{
    background-color:#0F0F0F;
    font-family: $primaryFont;
    padding:20px;
    color:#D7D7D7;
    text-align: center;
    height:20px;
    margin-top:40px;
}