@import "../../assets/styles/shared-styles.scss";


#nav-container{
    background-color:$primaryColor;
    color:white;
    padding:15px;
    position:fixed;
    width:300px;
    height: 105vh;
    z-index:2;

    a{
    font-family: $secondaryFont;
    }
}
.hamb{
    position: fixed;
    left: 377px;
    top:70px;

    font-size:25px;
    color:black;
    font-weight:bold;
}
hr{
    background-color:white;
    height:2px;
}


#nav-container h1{
    margin-top:15%;
    text-align: center;
    font-family: $primaryFont;
    font-size:25px;
}

#nav-container a{
    display:block;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    color:white;
    
}
#nav-container a:hover{
    background-color:$secondaryColor;
    color:black;
    border-radius:5px;
}

.copyright-container{
    background-color:#0F0F0F;
    padding:20px;
    color:#D7D7D7;
    text-align: center;
    height:10%;
    margin-top:5%;
}