<div class="about-container">
  <div class="overlay">
    <div class="title-container">
      <p>About Me</p>
    </div>

      <div class="description">
          <p>
            Here are some facts about me. 
          </p>
          <ul class="facts-list">
              <li> I am a Front end developer with huge passion for solving complex problems,
                  by making them simple an turning them into cool UI.
              </li>

              <li> I do this work because I love it. I like the industry. I like the people I meet </li>
        
              <li> I am very passionate for learning and trying out new technologies. </li>

              <li> Huge fan of Cryptocurrencies and blockchain technology. </li>

              <li> If you don't find me coding or hanging out with friends, I'll be out there traveling and exploring the world.</li>
              
          </ul>
    </div>
  </div>
</div>
