<div class="about-container">
  <div class="overlay">
    <div class="title-container">
      <p>About Me</p>
    </div>

    <p class="description">
      Lorem Ipsum better hope that there are no "tapes" of our conversations before he starts
      leaking to the press! You know, it really doesn’t matter what you write as long as you’ve
      got a young, and beautiful, piece of text.

      Some people have an ability to write placeholder text... It's an art you're basically born with. You either have it or you don't.
      
      You could see there was text coming out of her eyes, text coming out of her wherever.
      You’re disgusting. He’s not a word hero. He’s a word hero because he was captured.
      I like text that wasn’t captured. An 'extremely credible source' has called my office and told me
      that Lorem Ipsum's birth certificate is a fraud.
    </p>
  </div>
</div>
