<div class="home-container">
  <div class="overlay">

    <div class="left-column">
        <div class="title-container">
          <p>Get in Touch</p>
        </div>
    </div>

   <div class="right-column">
      <div class="contact-information">

        <div class="info-wrapper">
          <h1> Social Media</h1>
          <a href="https://github.com/marioAv" target="_blank"><img src="../../assets/images/github-logo (1).png" alt="github-logo"></a>
          <a target="_blank"><img src="../../assets/images/linked-in-logo-key.png" alt="linkedin-logo"></a>
        </div>
    
        <div class="info-wrapper">
          <h1>Email Address</h1>
          <a href="mailto:mezaa.alberto@gmail.com">mezaa.alberto@gmail.com</a>
        </div>
    
        <div class="info-wrapper">
          <h1>Phone Number</h1>
          <p>+52 664 3753749</p>
        </div>
    </div>
  </div>
</div>
</div>
