@import "../../assets/styles/shared-styles.scss";

#portfolio-container{
    background-color:$primaryColor;
    height:150vh;

    .container{
        width:95%;
        margin:auto;
    }

    h1{
        text-align: center;
        font-family:$secondaryFont;
        background:$secondaryColor;
        padding-top:20px;
        padding-bottom:20px;
        letter-spacing: 2px;
        font-size:55px;
        margin-top:0px;
        text-transform: uppercase;
    }

    .projects-wrapper{
        float: left;
        width:30%;
        margin-left:3%;
        margin-top:8%;

        
        a{ 
            background-color:$secondaryColor;
            display:block;
            width:100%;
            box-sizing: border-box;
            font-family:$secondaryFont;
            font-weight: 200;
            padding:10px;
            margin-top:20px;
            text-align:center;
            border-radius: 5px;
            text-decoration:none;
            color:$primaryColor;

        }

        a:hover{
            font-weight:bold;
            transition: .3s ease-in;
            margin-top:21px;
        }
        
    }

    .project-container{
        background-color:white;
        -webkit-filter: grayscale(100%);
        background-repeat:no-repeat;
        background-size:contain;
        background-position: center;
        padding:0px 10%;
        background-origin: content-box;
        height:280px;
        border-radius:6px;
    }
}


@media only screen and (max-width:800px){
   
#portfolio-container{
  position:absolute;
  width:100%;
  height:auto;

    .projects-wrapper{
    width:80%;
    margin-left:10%;
    margin-top:8%;
    margin-bottom:80px;
    }
  }
}

@media only screen and (max-width:500px){
   
#portfolio-container{

    h1{
        font-size:40px;
    }

    .projects-wrapper{
        width:85%;
        margin-left:7.5%;
        margin-top:8%;
    
    }
}

}