<div id="portfolio-container">
  <h1 > My Projects </h1>

  <div class="projects-wrapper">

      <div class="project-container">
        <div class="overlay">
            <i class="fa fa-gavel fa-2x"></i>
            <h2> Project 1 </h2>
            <p> Ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure reiciendis aliquid exceptur</p>
        </div>
      </div>

    <div class="project-container">
      <div class="overlay">
          <i class="fa fa-gavel fa-2x"></i>
          <h2> Project 1 </h2>
          <p> Ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure reiciendis aliquid exceptur</p>
      </div>
    </div>

    <div class="project-container">
      <div class="overlay">
          <i class="fa fa-gavel fa-2x"></i>
          <h2> Project 1 </h2>
          <p> Ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure reiciendis aliquid exceptur</p>
      </div>
    </div>

  </div>
</div>
