@import "../../assets/styles/shared-styles.scss";

#portfolio-container{
    background-color:black;
    height:100vh;

    h1{
        text-align: center;
        font-family:$primaryFont;
        background:$secondaryColor;
        padding-top:20px;
        padding-bottom:20px;
        margin-top:0px;
        text-transform: uppercase;
    }

    // i{
    //     background-color:$secondaryColor;
    //     padding:20px;
    //     position: relative;
    //     top:-45px;
    //     left:160px;
    // }
    .projects-wrapper{
        width:90%;
        margin:auto;
    }
}
.project-container{
    background-image: url("https://www.playawebdesign.com/images/portfolio/gabium-brewery-diseno-logotipo.jpg");
    background-size:cover;
    float: left;
    width:400px;
    height:300px;
    margin-left:3%;
    margin-top:8%;

        .overlay{
            background-color:rgba(0, 0, 0, 0.6);
            width:400px;
            height:320px;
            margin-top:-20px;
            opacity:0;
            transition: opacity .8s;

            .buttons{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            

            a{
                background-color:$secondaryColor;
                color:block;
                font-family:$secondaryFont;
                font-weight: 200;
                padding:10px;
                margin-bottom:20px;
                width:250px;
                margin-right:30px;
                border-radius: 5px;
                text-decoration:none;
                color:black;
            }
        }
        .overlay:hover{
            opacity: 1;
        }
}