<div id="portfolio-container">
  <h1 > My Projects </h1>

  <div class="projects-wrapper">

      <div class="project-container">
        <div class="overlay">
            <i class="fa fa-gavel fa-2x"></i>
            <div class="buttons">
                <a href="#"> VIEW SITE </a>
                <a href="#"> VIEW CODE</a>
            </div>
        </div>
      </div>

    <div class="project-container">
      <div class="overlay">
          <i class="fa fa-gavel fa-2x"></i>
          <div class="buttons">
            <a href="#"> VIEW SITE </a>
            <a href="#"> VIEW CODE</a>
          </div>
      </div>
    </div>

    <div class="project-container">
      <div class="overlay">
          <i class="fa fa-gavel fa-2x"></i>
          <div class="buttons">
              <a href="#"> VIEW SITE </a>
              <a href="#"> VIEW CODE</a>
          </div>
      </div>
    </div>

  </div>
</div>
