<div class="resume-wrapper">

  <h1 class="title">RESUME</h1>

  <div class="left-side">
    <h2>Education</h2>
    <hr>

    <div class="education-container">
        <h3>Bachelors Degree in Law, UABC. <span>2012-2017</span></h3>
        <ul>
          <li>TIJUANA,BAJA CALIFORNIA,MEXICO</li>
        </ul>
      </div>

      <div class="education-container">
          <h3>Front End Certification. <span>2018</span></h3>
            <ul>
                <li>FREE CODE CAMP</li>
              </ul>
        </div>

        <div class="education-container">
            <h3>Angular, the complete guide course. <span>2018</span></h3>
              <ul>
                  <li>UDEMY</li>
              </ul>
        </div>

        <h2>Technical Skills</h2>
        <hr>
        <ul>
            <li>Spanish</li>
            <li>English</li>
        </ul>



  </div>
  


  
  
  <div class="right-side">
    <h2>Experience</h2>
    <hr>

    <div class="job-container">
      <h3>Front End Web Developer, Dude Agency <span>2018-2019</span></h3>
        <ul>
          <li>Experience Creating websites following PSD mockups made by designers</li>
          <li>Experience on making websites responsive accros devices</li>
        </ul>
    </div>

    <div class="job-container">
      <h3>Search Engine Evaluation, ISOFTSTONE.<span>2015-2017</span></h3>
        <ul>
          <li>Experience Creating websites following PSD mockups made by designers</li>
          <li>Experience on making websites responsive accros devices</li>
        </ul>
    </div>

    <div class="job-container">
      <h3>Front End Web Developer, Dude Agency <span>2018-2019</span></h3>
        <ul>
          <li>Experience Creating websites following PSD mockups made by designers</li>
          <li>Experience on making websites responsive accros devices</li>
        </ul>
    </div>

    <div class="job-container">
        <h3>Front End Web Developer, Dude Agency <span>2018-2019</span></h3>
          <ul>
            <li>Experience Creating websites following PSD mockups made by designers</li>
            <li>Experience on making websites responsive accros devices</li>
          </ul>
    </div>

  </div>

</div>
