@import "../../assets/styles/shared-styles.scss";

.resume-wrapper{
    background-color:$primaryColor;
    height: 108vh;
    margin:0px;

    .title{
        color:$primaryColor;
        font-family:$primaryFont;
        font-size:40px;
        text-align:center;
        padding:25px;
        margin:0px;
        background-color:$secondaryColor;
    }
}

.left-side{
    float:left;
    width:30%;
    padding:15px 30px;
    margin-left:20%;

    h2{
        font-size:40px;
        font-family: $primaryFont;
        color:white; 
        margin:10px; 
    }
    hr{
        border-bottom:4px solid $secondaryColor;
        width:150px;
        text-align:left;
        margin:0px;
    }

    li{
        color:white;
        font-family:$secondaryFont;
    }

    .education-container{
    margin-bottom:60px;

    h3{
        color:$terciaryColor;
        font-family:$primaryFont;
    }

    li{
        color:white;
        font-family:$secondaryFont;
    }
    }
}

.right-side{
    float:left;
    width:35%;
    padding:15px 30px;

    h2{
        font-size:40px;
        font-family: $primaryFont;
        color:white;
        margin:10px;
    }

    hr{
        border-bottom:4px solid $secondaryColor;
        width:150px;
        text-align:left;
        margin:0px;
    }
}

.job-container{

    margin-bottom:60px;

    h3{
        color:$terciaryColor;
        font-family:$primaryFont;
    }
    hr{
        border-bottom:4px solid $secondaryColor;
        width:200px;
        text-align:left;
        margin:0px;
    }

    li{
        color:white;
        font-family:$secondaryFont;
    }
}