@import "../../assets/styles/shared-styles.scss";

.resume-wrapper{
    background-color:$primaryColor;
    margin:0px;
    height: 150vh;

    .title{
        color:$primaryColor;
        font-family:$secondaryFont;
        font-size:55px;
        letter-spacing: 2px;
        text-align:center;
        padding:20px;
        margin:0px;
        margin-bottom:50px;
        background-color:$secondaryColor;
    }
}

.right-side{
    float:left;
    width:30%;

    h2{
        font-size:40px;
        font-family: $primaryFont;
        color:white; 
        margin:10px 0px; 
    }

    .education-title{
        margin-top:85px;
    }
    hr{
        border:3px solid $secondaryColor;
        width:150px;
        text-align:left;
        margin:0px;
        margin-bottom:25px;
    }

    li{
        color:white;
        font-family:$secondaryFont;
    }

    .education-container{
    margin-bottom:40px;

    h3{
        color:$terciaryColor;
        font-family:$primaryFont;
    }

    li{
        color:white;
        font-family:$secondaryFont;
    }
    }
}

.left-side{
    float:left;
    width:35%;
    margin-left:10%;
    margin-right:8%;

    h2{
        font-size:40px;
        font-family: $primaryFont;
        color:white;
        margin:10px 0px;
    }

    hr{
        border:3px solid $secondaryColor;
        width:150px;
        text-align:left;
        margin:0px;
        margin-bottom:25px;
    }
}

.job-container{

    margin-bottom:60px;

    h3{
        color:$terciaryColor;
        font-family:$primaryFont;
        margin:5px 0px;
    }
    hr{
        border:3px solid $secondaryColor;
        width:200px;
        text-align:left;
        margin:0px;
        margin-bottom:25px;
    }

    li{
        color:white;
        font-family:$secondaryFont;
    }
    p{
        color:white;
        font-family: $primaryFont;
        margin:0px;
        font-style: italic;
        color:$secondaryColor;
    }
}

@media only screen and (max-width:900px){

.left-side{
    width:100%;
}

.right-side{
    width:100%;
    margin-left:10%;
}

}

@media only screen and (max-width:900px){

    .left-side{
        width:90%;
        margin-left:5%;
    }
    
    .right-side{
        width:90%;
        margin-left:5%;
    }
    
}


@media only screen and (max-width:900px){

    .resume-wrapper{

        .title{
            font-size:45px;
        }
    }
    
}