<div class="resume-wrapper">

  <h1 class="title">RESUME</h1>
  
  
  <div class="left-side">
    <h2>Experience</h2>
    <hr>

    <div class="job-container">
      <h3> Front End Web Developer<span> 2019 - Present</span></h3>
      <p>Dude Agency</p>
        <ul>
          <li>Experience Creating websites following PSD mockups made by designers</li>
          <li>Experience on making websites responsive accros devices</li>
          <li>Manage front-end design with HTML, CSS, JavaScript and Wordpress.</li>
          <li>Experience making websites functional accross devices</li>
        </ul>
    </div>

    <div class="job-container">
      <h3>Front End Web Developer<span> 2018 - 2019</span></h3>
      <p>TouchCr Intelligence Marketing</p>
        <ul>
          <li>Experience Creating websites following PSD mockups made by designers</li>
          <li>Experience on making websites responsive accros devices</li>
          <li>Manage front-end design with HTML, CSS, SASS, JavaScript and Angular.</li>
          <li>Worked on websites to make them functional across multiple browsers.</li>
        </ul>
    </div>

    <div class="job-container">
      <h3>Web Developer<span> 2017 - 2018</span></h3>
      <p>Freelance</p>
        <ul>
          <li>Creating Websites for businesses</li>
          <li>Technologies used were mainly HTML, CSS, Javascript and Bootstrap</li>
          <li>Used platforms such as Wordpress and Shopify</li>
        </ul>
    </div>

  </div>

  <div class="right-side">

      <h2>Technologies</h2>
      <hr>
      <ul>
          <li>JAVASCRIPT</li>
          <li>ANGULAR</li>
          <li>IONIC</li>
          <li>VUE.JS</li>
          <li>CSS/SASS</li>
          <li>HTML</li>
          <li>GIT/GITHUB</li>
      </ul>

    <h2 class="education-title">Education</h2>
    <hr>

    <div class="education-container">
        <h3>Bachelors Degree in Law, UABC <span>2012-2017</span></h3>
        <ul>
          <li>TIJUANA,BAJA CALIFORNIA,MEXICO</li>
        </ul>
      </div>

      <div class="education-container">
          <h3>Front End Certification <span>2017</span></h3>
            <ul>
                <li>FREE CODE CAMP</li>
              </ul>
        </div>

        <div class="education-container">
            <h3>Angular, the complete guide course <span>2018</span></h3>
              <ul>
                  <li>UDEMY</li>
              </ul>
            </div>



  </div>

</div>
