@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


//FONTS
$primaryFont:'Oswald', sans-serif;
$secondaryFont:'Roboto', sans-serif;

//COLORS
$primaryColor:black;
$secondaryColor:#FEDE59;