@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


//FONTS
$primaryFont:'Roboto', sans-serif;
$secondaryFont:'Oswald', sans-serif;


//COLORS
$primaryColor:black;
//#333333
//black
$secondaryColor:#FFDE59;
//#00D178
//#FFDE59
$terciaryColor: white;