@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap');


$primaryFont:'Oswald', sans-serif;
$secondaryFont:'EB Garamond', serif;
// #terciaryFont:

$primaryColor:black;
$secondaryColor:#FEDE59;
// #terciaryColor:
// #fourthColor: